<div class="modal-header">
  <h4 class="modal-title">Modal Title</h4>
  <button type="button" class="close" aria-label="Close"
   (click)="activeModal.dismiss('Cross click')">
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="formUser" (ngSubmit)="edit()">
		<div class="form-group">
			<label for="exampleInputEmail1">ID:</label>
    		<input type="text" formControlName="id" class="form-control" readonly="">
    		<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    		<div *ngIf="id.invalid && (id.dirty || id.touched)" class="errors-status">
    			id is required
    		</div>
    	</div>
    	<div class="form-group">
			<label for="exampleInputEmail1">Date ajout:</label>
    		<input type="text" formControlName="dateAjout" class="form-control" readonly="">
    		<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    		<div *ngIf="dateAjout.invalid && (dateAjout.dirty || dateAjout.touched)" class="errors-status">
    			dateAjout is required
    		</div>
    	</div>
    	<div class="form-group">
			<label for="exampleInputEmail1">Nom:</label>
    		<input type="text" formControlName="nom" class="form-control" readonly="">
    		<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    		<div *ngIf="nom.invalid && (nom.dirty || nom.touched)" class="errors-status">
    			name is required
    		</div>
    	</div>
    	<div class="form-group">
			<label for="exampleInputEmail1">Date de naissance:</label>
    		<input type="date" formControlName="dateNaissance" class="form-control"
    		[(ngModel)]="utilisateur.dateNaissance" readonly="" />
    		<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    		<div *ngIf="dateNaissance.invalid && (dateNaissance.dirty || dateNaissance.touched)" class="errors-status">
    			date de naissance is required
    		</div>
    	</div>
    	<div class="form-group">
			<label for="exampleInputEmail1">Adress:</label>
    		<input type="text" formControlName="adress" class="form-control"
    		[(ngModel)]="utilisateur.adress"/>
    		<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    		<div *ngIf="adress.invalid && (adress.dirty || adress.touched)" class="errors-status">
    			adress is required
    		</div>
    	</div>
    	<div class="form-group">
			<label for="exampleInputEmail1">Site web:</label>
    		<input type="text" formControlName="siteWeb" class="form-control"
    		[(ngModel)]="utilisateur.siteWeb"/>
    		<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    		<div *ngIf="siteWeb.invalid && (siteWeb.dirty || siteWeb.touched)" class="errors-status">
    			site web is required
    		</div>
    	</div>
    	<div class="form-group">
			<label for="exampleInputEmail1">E-mail:</label>
    		<input type="email" formControlName="email" class="form-control"
    		[(ngModel)] = "utilisateur.email"/>
    		<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    		<div *ngIf="email.invalid && (email.dirty || email.touched)" class="errors-status">
    			email is required
    		</div>
    	</div>
    	<div class="form-group">
    		<input type="submit" value="Submit" class="btn btn-primary"
    		[disabled]="!formUser.valid"/>
    	</div>
        <div class="alert alert-success" *ngIf="isUserEdit">
            <span>
                Utilisateur modifié avec succes
            </span>
        </div>
    </form>
</div>
<div class="modal-footer">
  <button (click)="activeModal.dismiss('Close clicked')" class="btn btn-link">
    Close Clicked
  </button>
</div>