section{
	margin-top: 100px;
	font-family: Nunito,Helvetica Neue,Helvetica,Arial,sans-serif;
}
section > div > div:first-child{
	padding-left: 15px
}
section > div > div:first-child > div{
	width: 90px;
	height: 90px;
}
section > div:first-child .status{
	background-color: blue;
	text-align: center;
	color: white;
	padding-top: 5px
}
section > div:first-child .status .nombre{
	font-size: 35px;
	font-weight: bold;
}
section > div:first-child .status .label{
	font-size: 12px;
	font-weight: bold;
}
section > div:first-child .avatar img{
	width: 90px;
	height: 90px
}
.table-user header{
	color: blue;
	font-size: 20px;
}
.table-user button{
	display: inline-block;
}
.table-user button + button{
	margin-left: 3px
}
.table-user .table td,
.table-user .table th{
	vertical-align: middle;
}
.sort-manager{
	margin-top: 35px
}
.sort-manager label{
	font-weight: bold;
	font-size: 14px;
}
.table-user .table .action{
	width: 150px;
}