<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
<section class="container-fluid">
  <div class="row justify-content-center">
  <div>
    <div class="status">
      <span class="nombre">
        {{listAllUser.length}}
      </span>
      <br/>
      <span class="label">
        users
      </span>
    </div>
    <div class="avatar">
       <img src="assets/image/2019-12-05-094328.jpg">
    </div>
  </div>
  <div class="col-lg table-user">
    <header class="container-fluid"> 
      <div class="row">
        <div class="col-lg">
          <span>
            Test technique: Mouhamed ali derouiche
          </span>
        </div>
        <div>
        	<button (click)="openFormModal()" class="btn btn-primary">add new user
        	</button>
        </div>
      </div>
    </header>
    <div class="container-fluid">
      <div class="row"> 
        <div class="col-lg" style="padding-right: 0px">
          <div class="sort-manager">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" id="inlineCheckbox1" 
              value="ASC" name="sort" (click)="descUser()"/>
              <label class="form-check-label" for="inlineCheckbox1">DESC</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" id="inlineCheckbox1" 
              value="ASC" name="sort" (click)="ascUser()"/>
              <label class="form-check-label" for="inlineCheckbox1">ASC</label>
            </div>
          </div>
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Nom</th>
                <th scope="col">Date de naissance</th>
                <th scope="col">Adress</th>
                <th scope="col">Site web</th>
                <th scope="col">E-mail</th>
                <th scope="col">Créé le</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of listAllUser">
                  <td>{{ user.nom }}</td>
                  <td>{{user.dateNaissance}}</td>
                  <td>{{user.adress}}</td>
                  <td><a [href]="user.siteWeb">webi4u.com</a></td>
                  <td>{{user.email}}</td>
                  <td>{{user.dateAjout}}</td>
                  <td class="action">
                    <button class="btn btn-primary" (click)="openFormModalEdit(user)">
                      <i class="fa fa-pencil"></i>
                    </button>
                    <button class="btn btn-danger" (click)="delete(user.ID)">
                      <i class="fa fa-trash"></i>
                    </button>
                  </td>
              </tr>
        </table>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>